@charset "UTF-8";

:root {
  --cor1: #1e1e1e;
  --cor2: #343a40;
  --cor3: #5A6268;
  --cor4: #25282b;

  --fontPadrao: Arial, Helvetica, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor1);
  font-family: var(--fontPadrao);
  color: white;
}

header img {
  margin-right: 5px;
}

main > section.cab {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

main input#createNewTask {
  color: white;
  margin-right: 7px;
}

main input#createNewTask:hover {
  background-color: var(--cor3);
}

main hr {
  background-color: var(--cor2);
}

main .row {
  width: 100%;
  margin: 1.5% 0%;
}

main .tasks {
  color: white;
  margin: auto;
  border-radius: 15px;
}

main .task {
  background-color: var(--cor2);
  text-align: center;
  margin-left: auto;
  padding: 1.2%;
  max-width: 240px;
  min-width: 157px;
  min-height: 33px;
  border-radius: 15px;
}

main .btn-secondary {
  background-color: var(--cor2);
  border-color: var(--cor4);
  height: 40px;
}

main .btn-secondary:hover {
  font-size: 1.2em;
}

main .col-3 {
  padding: 0;
}

main button#clearAll {
  background-color: #DC3545;
  color: white;
  position: absolute;
  font-size: 1.2em;
  right: 2%;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-style: none;
  transition-duration: 0.3s;
}

main button#clearAll:hover {
  background-color: #a32834;
}

main .div-secondary {
  text-align: center;
  padding: 10px;
  max-width: 240px;
  min-width: 157px;
  min-height: 33px;
  margin: auto;
  margin-bottom: 2%;
  background-color: var(--cor2);
  border-radius: 15px;
  text-decoration: line-through;
}