* {
  font-size: 13pt;
}

body {
  background-color: rgb(20, 20, 20);
  color: white;
}

.row {
  width: 100%;
  margin-bottom: 1%;
}

.tasks {
  background-color: rgb(20, 20, 20);
  color: white;
  margin: auto;
  border-radius: 15px;
}

.btn-secondary {
  background-color: rgb(52, 58, 64);
  border-color: rgb(52, 58, 64);
}

.col {
  margin-left: auto;
}

.task {
  text-align: center;
  padding: 1%;
  width: 30%;
  margin-left: auto;
  background-color: rgb(52, 58, 64);
  border-radius: 30px;
}

.cab {
  margin-top: 30px;
  text-align: center;
}

#createNewTask {
  background-color: rgb(52, 58, 64);
  margin-right: 7px;
  color: white;
}

img {
  margin-right: 5px;
}